<%- include('partials/header.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h1 style="font-family: Arial Narrow, sans-serif;" >BLOG HYPERSTECH</h1>
    <hr>

    
        
    
    <% articles.forEach((articles) => { %>
    <div class="card">
        <div class="card-header">
            <h1> <%= articles.title %> </h1>
        </div>
        <div class="card-body">
            <h4> <%= articles.body %> </h4>
        </div>
    </div><br>
    <% }) %>

</div>

</body>
<%- include('partials/footer.ejs') %>



