<%- include('partials/header.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>
<div class="container">
    <hr>
    <h1 style="font-family: Arial Narrow, sans-serif;" >BLOG HYPERSTECH</h1>
    <hr>
        <table class="table table-striped table-dark">
            <thead style="color: rgb(72, 176, 236);">
                    <th>ID</th>
                    <th>CATEGORIA</th>
                    <th>TÍTULO</th>
                    <th>SLUG</th>
                    <th>AÇÕES</th>
            </thead>
            <tbody>
                <tr>
                <% articles.forEach((articles) => { %>
                    <th><%= articles.id %></th>
                    <th><%= articles.category.title.toUpperCase() %></th>
                    <th><%= articles.title.toUpperCase() %></th>
                    <th><%= articles.slug.toLowerCase() %></th>
                    <th>
                        <button class="btn btn-danger">Ação</button>
                    </th>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <hr>
</div>

</body>
<%- include('partials/footer.ejs') %>



