<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card bg-dark">
        <div class="card-header">
            <h1>Editar Categoria</h1>
        </div>
        <div class="card-body">
            <form action="/categories/saveUpdate" method="POST">
                <input class="form-control" type="text" name="title" value=" <%= categories.title %> "><br>
                <input type="hidden" name="id"  value="<%= categories.id %>" style="display: inline;"> 
                <button  class="btn btn-success" >Atualizar</button>
                <a href="/categories/home" class="btn btn-success">Cancelar</a>
            </form>
            
        </div>
    </div>
</div>
</body>
<%- include('../../partials/footer.ejs') %>
<script>

    function confirmUpdateCategory(event, form){
        event.preventDefault()
        let yesOrNo = confirm("Deseja mesmo fazer esta alteração?")
            if(yesOrNo == true){
                form.submit()
            }
    }

</script>