<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <hr>

    <table class="table table-bordered">
        <thead>
            <th>Id</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
        </thead>
        <tbody>
        <tr>
        <% categories.forEach((categories) => { %>
            <th> <%= categories.id %> </th>
            <th> <%= categories.title %> </th>   
            <th> <%= categories.slug %> </th>      
        </tr>
        <%  }) %>
        </tbody>
    </table>
</div>

</body>
<%- include('../../partials/footer.ejs') %>