<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h1 style="font-family: Arial Narrow, sans-serif;">Categorias</h1>
    <a class="btn btn-success" href="/admin/categories/new">Adicionar Categoria</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>SLUG</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
        <tr>
        <% categories.forEach((categories) => { %>
            <th> <%= categories.id %> </th>
            <th> <%= categories.title.toUpperCase() %> </th>   
            <th> <%= categories.slug.toLowerCase() %> </th> 
            <th>

                <a href="/categories/edit/<%= categories.id %> " style="margin-right: 5px;" class="btn btn-warning">Editar</a>

                <form style="display: inline;" method="POST" onsubmit="confirmDeletCategory(event, this)" action="/categories/delet">
                    <input type="hidden" name="id" value=" <%= categories.id %> ">
                    <button class="btn btn-danger">Excluir</button>
                </form>
                
            </th>     
        </tr>
        <%  }) %>
        </tbody>
    </table>
    <hr>
</div>

</body>
<%- include('../../partials/footer.ejs') %>

<script>

    // When the user deteled this confirmation will appear 
    function confirmDeletCategory(event, form){
        event.preventDefault()
        let yesOrNo = confirm("Deseja mesmo excluir esta categoria?")
            if(yesOrNo == true){
                form.submit()
            }
    }
    
</script>