<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/admin/categories/new">Cria nova Categoria</a>
    <hr>

    <table class="table table-bordered">
        <thead>
            <th>Id</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Ações</th>
        </thead>
        <tbody>
        <tr>
        <% categories.forEach((categories) => { %>
            <th> <%= categories.id %> </th>
            <th> <%= categories.title %> </th>   
            <th> <%= categories.slug %> </th> 
            <th>
                <button class="btn btn-warning">Editar</button>
                <form style="display: inline;" method="POST" onsubmit="confirmDeletCategory(event, this)" action="/categories/delet">
                    <input type="hidden" name="id" value=" <%= categories.id %> ">
                    <button class="btn btn-danger">Deletar</button>
                </form>
                
            </th>     
        </tr>
        <%  }) %>
        </tbody>
    </table>
    <hr>
</div>

</body>
<%- include('../../partials/footer.ejs') %>

<script>

    function confirmDeletCategory(event, form){
        event.preventDefault()
        let yesOrNo = confirm("Você desejar mesmo deletar esta categoria?")
        if(yesOrNo == true){
            form.submit()
        }
    }
    
</script>