<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
        <h1 style="font-family: Arial Narrow, sans-serif;">Categorias</h1>
        
   
    
    <hr>

    <table class="table table-striped table-dark">
        <thead style="color: rgb(72, 176, 236);text-align: center;">
            <th>ID</th>
            <th>TÍTULO</th>
            <th>SLUG</th>
            <th>AÇÕES</th>
        </thead>
        <tbody>
        <tr>
        <% categories.forEach((categories) => { %>
            <th style="text-align: center;"> <%= categories.id %> </th>
            <th style="text-align: center;"> <%= categories.title.toUpperCase() %> </th>   
            <th style="text-align: center;"> <%= categories.slug.toLowerCase() %> </th> 
            <th style="display: flex; justify-content: space-around;">
                <a href="/categories/edit/<%= categories.id %> " class="btn btn-warning">Editar</a>

                <form  method="POST" onsubmit="confirmDeletCategory(event, this)" action="/categories/delet">
                    <input type="hidden" name="id" value=" <%= categories.id %> ">
                    <button class="btn btn-danger">Excluir</button>
                </form>
                <a class="btn btn-success" href="/admin/categories/new">Adicionar Categoria</a>
                
            </th>     
        </tr>
        <%  }) %>
        </tbody>
    </table>
    <hr>
</div>

</body>
<%- include('../../partials/footer.ejs') %>

<script>

    // When the user deteled this confirmation will appear 
    function confirmDeletCategory(event, form){
        event.preventDefault()
        let yesOrNo = confirm("Deseja mesmo excluir esta categoria?")
            if(yesOrNo == true){
                form.submit()
            }
    }
    
</script>