<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs') %> 
<br>   
    <div class="container">
        <div class="card" style="text-align: center; ">
            <div class="card-header">
                <h1>PERGUNTAS</h1>
            <a href="/perguntar"><button class="btn btn-warning">Perguntar</button></a>  
            </div>
        </div>
        <% pergunta.forEach(pergunta => { %>
<br>
        <div class="card">
            <div class="card-body">
                <h5><%= pergunta.titulo %></h5>
            </div>
            <div class="card-footer">
                <a href="/home/<%= pergunta.id %>"><button class="btn btn-warning">Responder</button></a>
                <a href="/perguntar"><button class="btn btn-warning">Detalhes</button></a>
            </div>
        </div>
        

            
        <% }) %>
    </div>

</body>
<%- include('partials/footer.ejs') %>