<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>HOME - PERGUNTAS E RESPOSTAS</h1>
    
    <p>Nome: <%= nome %></p>
    <p>Linguagem: <%= linguagem %></p>

    <%=error %> <%=sucesso%>

    <%= sucesso==true ? 'sucesso' : 'error' %>


</body>
</html>