<%- include('partials/header.ejs'); %>
<body>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <h1><%= perguntas.titulo %></h1>
    <p><%= perguntas.descricao %></p>
</div>

</body>
<%- include('partials/footer.ejs') %>