<%- include('../../partials/header.ejs') %>
<body>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    
    <hr>
    <h1>Administrador | Artigos</h1>
    <hr>
    <table class="table table-striped table-dark">
        <thead style="color: rgb(72, 176, 236);">
                <th>ID</th>
                <th>CATEGORIA</th>
                <th>TÍTULO</th>
                <th>SLUG</th>
                <th>AÇÕES</th>
        </thead>
        <tbody>
            <tr>
            <% articles.forEach((articles) => { %>
                <th><%= articles.id %></th>
                <th><%= articles.category.title.toUpperCase() %></th>
                <th><%= articles.title.toUpperCase() %></th>
                <th><%= articles.slug.toLowerCase() %></th>
                <th> 
                    <form onsubmit="confirmDeletArticle(event, this)" action="/articles/delet" method="POST">
                        <button class="btn btn-danger">Excluir</button>
                        <input type="hidden" name="id" value="<%= articles.id %>">
                    </form>
                </th>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <hr>
</div>

</body>

<script>

    function confirmDeletArticle(event, form){
        event.preventDefault()
        let yesOrNo = confirm("Deseja mesmo excluir este artigo?")
            if(yesOrNo == true){
                form.submit()
            }
    }

</script>
<%- include('../../partials/footer.ejs') %>